*{
    margin:0;/*by default take margin padding as 0*/
    padding:0;
    text-align: center;
}
h1{
    background-color: black;
    color:#ffffff;
    height: 5rem;
    line-height: 5rem;
}
.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.choice:hover{
    /*defining what happens when we take cursor on to the particular elment*/
    /*blur ness of the eimage*/
    cursor: pointer;/*to change the cursor symbol to hand symbol*/
    background-color: black;/*to make the backgroung black whem you place a cursor on the element*/
}

img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;/*to fit images perfectly inside the box or circle*/
}
.choices{
    display: flex;/*to display images in horizental form*/
    justify-content: center;
    align-items: center;
    gap: 3rem;/*gaap between elements*/
    margin-top: 5rem;
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    font-size: 2rem;
    gap: 5rem;
}
#user-score,#comp-score{
    font-size: 4rem;
}
.msg-container{
    margin-top:5rem ;
}
#msg{
    background-color:#081b31;
    color: #fff;
    font-size: 2rem ;
    display:inline;
    padding: 1rem;
    border-radius: 1rem;
}
